PIPELINE_ROOT=../..
WORK_ROOT=/tmp/mito_overview_runs
RUN_NAME=mito_EXAMPLE_SAMPLE
SAMPLE_ID=EXAMPLE_SAMPLE
SOURCE_SAMPLE_DIR=/tmp/mito_inputs/EXAMPLE_SAMPLE
SOURCE_HV_DIR=/tmp/mito_inputs/EXAMPLE_SAMPLE/human_variation
SOURCE_HV_NP_DIR=/tmp/mito_inputs/EXAMPLE_SAMPLE/human_variation_NP
REF_FASTA=/references/Homo_sapiens.GRCh38.dna.primary_assembly.fa
SOURCE_ALIGN_FILE=/tmp/mito_inputs/EXAMPLE_SAMPLE/human_variation/EXAMPLE_SAMPLE.haplotagged.cram
SOURCE_ALIGN_MODE=cram
MT_CONTIG=MT
MT_LENGTH=16569
THREADS=4
SPECIES=human
HUMAN_MT_GTF=../../resources/annotations/human_mt_reference.gtf
DEBUG=1
FINAL_BIOINFO_DIR=/tmp/mito_outputs/mito_overview_EXAMPLE_SAMPLE
