PIPELINE_ROOT=../..
WORK_ROOT=/tmp/mito_overview_shortread_runs
RUN_NAME=mito_SHORTREAD_EXAMPLE
SAMPLE_ID=SHORTREAD_EXAMPLE
SOURCE_SAMPLE_DIR=/tmp/mito_inputs/SHORTREAD_EXAMPLE
SOURCE_HV_DIR=/tmp/mito_inputs/SHORTREAD_EXAMPLE/human_variation
REF_FASTA=../../resources/annotations/NC_012920.1.fa
SOURCE_ALIGN_FILE=/tmp/mito_inputs/SHORTREAD_EXAMPLE/human_variation/SHORTREAD_EXAMPLE.mt.bam
SOURCE_ALIGN_MODE=bam
MT_CONTIG=NC_012920.1
MT_LENGTH=16569
THREADS=2
SPECIES=human
READ_MODE=short
ASSAY_TYPE=targeted_mt
HET_MIN_DEPTH=20
HET_MIN_VAF=0.05
HUMAN_MT_GTF=../../resources/annotations/human_mt_reference.gtf
FINAL_BIOINFO_DIR=/tmp/mito_outputs/mito_overview_SHORTREAD_EXAMPLE
